# GitHub credentials
GITHUB_USERNAME=tranquoccuong0179@gmail.com
GITHUB_PASSWORD=0363919179aN

# Browser config
BROWSER=chrome
HEADLESS=false
IMPLICIT_WAIT=10

# Download config
DOWNLOAD_DIR=./downloads

# SMTP config (gửi email PASS/FAIL)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
EMAIL_FROM=your_email@gmail.com
EMAIL_TO=recipient@example.com